* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}




@mixin containerT($containerWidth) {
   

    width: $containerWidth;
    border: 1px solid black;
    margin: auto;



  
}

@mixin widthC {

    
    @media screen and (max-width: 800px) {

        @include containerT(100%) ;
         
       }


    @media screen and (max-width: 1000px) {
        @include containerT(80%) ;
      
       }
   
}

  


.container {

    @include widthC;
    
}




header {

    height: 100px;
    
}







$bColor: red;
$color: green;
$borderColor: yellow;

@mixin mField($width: 200px, $height) {
    width: $width;
    height: $height;
}

@mixin mBorder($borderWidth: 10px, $borderStyle){
    
    border: $borderWidth $borderStyle $borderColor;
}

$font-sizes: ("small": 12px, "normal": 18px, "large": 24px);
   


.contain {
    

    background-color: $bColor;
    font-size:  map-get($font-sizes, "large");

    .first {
        @include mField($height: 300px);
        @include mBorder(2px, solid )
    }
    .second {
        // @include mBorder( 5px, solid);
        @extend .first;
    }

}



